:root {
    --blue2: background-color: rgb(15, 59, 84);
    --blue3: background-color: rgb(25, 90, 130);
    --blue4: background-color: rgb(35, 126, 179);
}

.black {
    background-color: rgb(40, 40, 40);
}

.black-text {
    color: rgb(40, 40, 40);
}

.white-text {
    color: white;
}

.white {
    background-color: white;
}

.grey {
    background-color: rgb(235, 235, 235);
}

.blue {
    background-color: rgb(10, 47, 66);
}

.blue2 {
    background-color: rgb(15, 59, 84);
}

.blue3 {
    background-color: rgb(25, 90, 130);
}

.blue4 {
    background-color: rgb(35, 126, 179);
}

.grid-4-top {
    margin-top: 100px;
}

.grid-4-bottom {
    margin-bottom: 100px;
}

.grid-2-top {
    margin-top: 50px;
}

.grid-2-bottom {
    margin-bottom: 50px;
}

.grid-4-top-p {
    padding-top: 100px;
}

.grid-4-bottom-p {
    padding-bottom: 100px;
}

.grid-2-top-p {
    padding-top: 50px;
}

.grid-2-bottom-p {
    padding-bottom: 50px;
}

.grid-6-bottom {
    margin-bottom: 150px;
}

.no-gutters {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.oswald {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.white-border {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.no-border {
    border-width: 0px;
}

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

hr {
    background-color: black;
    border-color: black;
    color: black;
}

.btn-reg {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    border-radius: 10px;
    padding: 4px;
}

.btn-reg:hover {
    opacity: 0.7;
}

.btn-a {
    padding: 9px 40px;
}

.btn-a:hover {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 0px;
    font-size: 35px;
}

.strong-center {
    padding-left: 15%;
    padding-right: 15%;
}

.weak-center {
    padding-left: 7%;
    padding-right: 7%;
}

.flush-ul {
  display: table;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.flush-li {
  display: table-row;
}

.flush-li::before {
    content: "•";
    display: table-cell;
    padding-right: 0.4em;
}

@media only screen and (max-width: 700px)  {
    h1, h2 {
        font-size: 25px;
    }

    .title {
        padding: 0px;
    }
}

.link-list {
    list-style: none;
}

.navbar {
    opacity: .9;
    margin-bottom: 0px;
    position: relative;
    z-index: 999;
}

.navbar span {
    color: rgba(205, 203, 203, 0.982);
}

.navbar span:hover {
    color: black;
}

.navbar .dropdown-item:hover {
    color: black;
}

.navbar-brand span {
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.nav-item:hover {
    background-color: rgb(10, 47, 66);
}

.btn-nav {
    padding: 4px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

header, footer {
    background-attachment: fixed;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover!important;
    display: block;
}

.appointment-form {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    padding: 9%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.appointment-form-btn {
    width: 100%;
}

.form-title {
    font-size: 17px;
    margin-bottom: 50px;
}

.featured-image {
    height: 500px;
}

.logo {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(2, 42, 65) 30%, rgb(2, 42, 65) 70%, rgba(0, 0, 0, 0));
}

@media only screen and (min-width: 850px)  {
    .featured-image {
        height: 420px;
    }
}

@media only screen and (min-width: 1350px)  {
    .featured-image {
        height: 650px;
    }
}

.logo-fade {
    height:127px;
    width:30%;
}

.logo-left {
    
    float: left;
}

.logo-right {
    background: linear-gradient(to left, rgba(0, 0, 0, 0) , rgb(2, 42, 65));
    float: right;
}

.main-section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

a .bio-pic {
    width: 180px;
    height: 250px;
}

.margin-right {
    margin-right: 10px;
}

.margin-top {
    margin-top: 30px;
}

.insurance-container {
    margin-right: 5px;
    margin-left: 5px;
}

.insurance-panel {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(15, 59, 84);
    background-color: white;
    margin-bottom: 50px;
    min-height: 350px;
}

.insurance-panel img {
    margin-top: 5px;
}

.insurance-header:hover {
    background-color: rgb(10, 47, 66);
}

.insurance-header h1 {
    color: white;
}

.insurance-header h1:hover {
    color: gray;
}

@media only screen and (max-width: 320px)  {
    .ins-pic {
        display: none;
    }
}

.edu-container {
    border-left-style: dashed;
    border-width: 1px;
}

.edu-img {
    max-width: 100%;
    height: auto;
    /*width: auto\9; /* ie8 */
}

.glyphicon-link {
    margin-right: 5px;
}

.video-list {
    padding-left: 0px;
}

@media only screen and (max-width: 530px)  {
    .sm-pic {
        display: none;
    }
}

.md-img-right {
    float: right;
    margin-left: 15px;
}

.md-img-left {
    float: left;
    margin-right: 15px;
}

.jumbotron {
    background-color: transparent;
}

.page-footer {
    color: rgba(205, 203, 203, 0.982);
}

.page-footer h1 {
    color: white;
}

.page-footer h2 {
    color: white;
}

.footer-copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black; 
}

.footer-contact {
    background-color: rgba(0, 0, 0, .4);
    padding-bottom: 30px;
}

.google-map {
    margin-top: 20px;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-popup:focus {
    outline-style: none;
}

@media only screen and (max-width: 430px)  {
    .footer-contact iframe {
        display: none;
    }
}

.procedure-img {
    height: 400px;
    width: 100%;
    background-size: 100% 100%;
    position: relative;
}

.procedure-content {
    position: absolute;
    top: 0px;
    width: 100%;
}

.procedure-content .procedure-content-hover {
    background-color: rgba(0, 0, 0, .6);
    height: 400px;
    visibility: hidden;
}

/* HACK: Always show for mobile devices */
@media only screen and (max-width: 480px)  {
    .procedure-content .procedure-content-hover {
        visibility: visible;
    }
}


.procedure-content:hover .procedure-content-hover {
    visibility: visible;
}

#myers-headshot {
    height: 540px;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover!important;
    display: block;
    overflow: hidden;
    position: relative;
}

#jenna-book {
    width: 65%;
    height: auto;
}

#myers-description {
    height: 540px;
}

#staff-photo {
    max-width: 200px;
}
