body {
    background-color: rgb(12, 33, 63);
}

.navbar {
    opacity: .9;
}

header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover!important;
    display: block;
}

.header-container {
    background-color: rgba(0, 0, 0, .4);
}

.jumbotron {
    color: white;
    background-color: transparent;
}

p, h1 {
    color: rgba(205, 203, 203, 0.982);
}