{{ define "main" }}
{{ partial "header" . }}
{{ partial "main-top" . }}
<div class= "container-fluid">
<div class="col-sm-7">
    {{ .Content }}
</div>
<div class="col-sm-5 edu-container">
    <div class="row edu-header text-center">
        <h2>Education Center</h2>
        <hr>
    </div>
    <ul class="list-group link-list">
        {{ range .Site.Taxonomies.tags.edu }}
        <li>
            <a class="list-group-item" href="{{ .Page.URL | absURL }}">{{ .Page.Title }}</a>
        </li>
        {{ end }}
    </ul>
    <div class="row edu-header text-center">
        <h2>Educational PDFs</h2>
        <hr>
    </div>
    <ul class="list-group link-list">
        <li><a class="list-group-item" href="{{ "documents/patient-education/Common_Tennis_Injuries.pdf" | absURL }}">
            <span class="glyphicon glyphicon-link"></span>Common Tennis Injuries</a></li>
        <li><a class="list-group-item" href="{{ "documents/patient-education/Managing_ACL_Injuries.pdf" | absURL }}">
            <span class="glyphicon glyphicon-link"></span>Managing ACL Injuries</a></li>
        <li><a class="list-group-item" href="{{ "documents/patient-education/Total_Knee_Replacements.pdf" | absURL }}">
            <span class="glyphicon glyphicon-link"></span>Knee Replacements</a></li>
    </ul>
</div>
</div>
{{ partial "main-bottom" . }}
{{ end }}