body {
    color: rgba(205, 203, 203, 0.982);
    font-family: 'Arvo', serif;
}

.navbar {
    opacity: .9;
}

.navbar span {
    color: rgba(205, 203, 203, 0.982);
}

.navbar .container-fluid {
    background-color: rgb(15,59,84);
}

.nav-item {
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.nav-item:hover {
    background-color: rgb(10, 47, 66);
}

header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover!important;
    display: block;
}

.header-container {
    background-color: rgba(0, 0, 0, .2);
}

.main-section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.main-row {
    margin-left: 0px;
    margin-right: 0px;
}

.black {
    background-color: rgb(40, 40, 40);
}

.blue {
    background-color: rgb(39, 37, 77); 
}

.jumbotron {
    background-color: transparent;
}
