.black {
    background-color: rgb(40, 40, 40);
}

.black-text {
    color: rgb(40, 40, 40);
}

.blue {
    background-color: rgb(10, 47, 66);
}

.blue2 {
    background-color: rgb(15, 59, 84);
}

.blue3 {
    background-color: rgb(25, 90, 130);
}

.blue4 {
    background-color: rgb(35, 126, 179);
}

body {
    color: black;
    font-family: 'Arvo', serif;
    font-size: 16px;
}

hr {
    background-color: black;
    border-color: black;
    color: black;
}

h1, h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.page-header h1 {
    color: rgb(35, 126, 179);
    font-size: 50px;
}

.page-header {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar {
    opacity: .9;
}

.navbar span {
    color: rgba(205, 203, 203, 0.982);
}

.navbar span:hover {
    color: white;
}

.navbar-brand span {
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.nav-item:hover {
    background-color: rgb(10, 47, 66);
}

header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover!important;
    display: block;
}

.header-container {
    background-color: rgba(0, 0, 0, .2);
}

.main-section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

@media only screen and (min-width: 650px)  {
    .main-row .col-xs-12 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

a .bio-pic {
    width: 180px;
    height: 250px;
}

.margin-right {
    margin-right: 10px;
}

.margin-top {
    margin-top: 30px;
}

.main-row {
    margin-left: 0px;
    margin-right: 0px;
}

.insurance-container {
    margin-right: 5px;
    margin-left: 5px;
}

.insurance-panel {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(15, 59, 84);
    background-color: white;
    margin-bottom: 50px;
    min-height: 350px;
}

.insurance-panel img {
    margin-top: 5px;
}

.insurance-header:hover {
    background-color: rgb(10, 47, 66);
}

.insurance-header h1 {
    color: white;
}

.insurance-header h1:hover {
    color: gray;
}

@media only screen and (max-width: 320px)  {
    .ins-pic {
        display: none;
    }
}

.edu-container {
    border-left-style: dashed;
    border-width: 1px;
}

.edu-container ul {
    list-style: none;
}

.edu-img {
    max-width: 100%;
    height: auto;
    /*width: auto\9; /* ie8 */
}

.glyphicon-link {
    margin-right: 5px;
}

@media only screen and (max-width: 530px)  {
    .sm-pic {
        display: none;
    }
}

.md-img-right {
    float: right;
    margin-left: 15px;
}

.md-img-left {
    float: left;
    margin-right: 15px;
}

.jumbotron {
    background-color: transparent;
}

.page-footer {
    color: rgba(205, 203, 203, 0.982);
}

.page-footer h1 {
    color: white;
}

.page-footer h2 {
    color: white;
}

.footer-copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black; 
}

.footer-contact {
    background-color: rgb(10, 47, 66);
    padding-bottom: 30px;
}

.google-map {
    margin-top: 20px;
}

@media only screen and (max-width: 430px)  {
    .footer-contact iframe {
        display: none;
    }
}
