:root {
    --blue2: background-color: rgb(15, 59, 84);
    --blue3: background-color: rgb(25, 90, 130);
    --blue4: background-color: rgb(35, 126, 179);
}

.black {
    background-color: rgb(40, 40, 40);
}

.black-text {
    color: rgb(40, 40, 40);
}

.white-text {
    color: white;
}

.white {
    background-color: white;
}

.grey {
    background-color: rgb(235, 235, 235);
}

.blue {
    background-color: rgb(10, 47, 66);
}

.blue2 {
    background-color: rgb(15, 59, 84);
}

.blue3 {
    background-color: rgb(25, 90, 130);
}

.blue4 {
    background-color: rgb(35, 126, 179);
}

.grid-4-top {
    margin-top: 100px;
}


.grid-4-bottom {
    margin-bottom: 100px;
}

.grid-3-top {
    margin-top: 75px;
}

.grid-3-bottom {
    margin-bottom: 75px;
}

.grid-2-top {
    margin-top: 50px;
}

.grid-2-bottom {
    margin-bottom: 50px;
}

.grid-1-top {
    margin-top: 25px
}

.grid-1-bottom {
    margin-bottom:25px;
}
.grid-4-top-p {
    padding-top: 100px;
}

.grid-4-bottom-p {
    padding-bottom: 100px;
}

.grid-3-top-p {
    padding-top: 75px;
}

.grid-3-bottom-p {
    padding-bottom: 75px;
}

.grid-2-top-p {
    padding-top: 50px;
}

.grid-2-bottom-p {
    padding-bottom: 50px;
}

.grid-1-top-p {
    padding-top: 25px;
}

.grid-1-bottom-p {
    padding-bottom: 25px;
}

.grid-6-bottom {
    margin-bottom: 150px;
}

.no-gutters {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.open-sans-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.oswald {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.oswald-bold {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.white-border {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.black-border {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.no-border {
    border-width: 0px;
}

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

hr {
    background-color: black;
    border-color: black;
    color: black;
    margin-top:-5px;
}

.btn-reg {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    border-radius: 10px;
    padding: 4px;
}

.btn-reg:hover {
    opacity: 0.7;
}

.btn-a {
    padding: 9px 40px;
}

.btn-a:hover {
    text-decoration: none;
    color: inherit;
}

.btn-center {
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-resize-parent {
    border-radius: 10px;
}

.btn-resize-parent:hover {
    opacity: 0.7;
}

.btn-resize-a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
}

.btn-resize-a:hover {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 0px;
    font-size: 35px;
}

h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 0px;
    font-size: 20px;
}

.strong-center {
    padding-left: 15%;
    padding-right: 15%;
}

.weak-center {
    padding-left: 7%;
    padding-right: 7%;
}

.col-center {
    margin:auto;
    margin:auto;
}

.flush-ul {
  display: table;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.flush-li {
  display: table-row;
}

.flush-li::before {
    content: "•";
    display: table-cell;
    padding-right: 0.4em;
}

@media only screen and (max-width: 700px)  {
    h1, h2 {
        font-size: 25px;
    }

    .title {
        padding: 0px;
    }
}

.link-list {
    list-style: none;
}


.navbar {
    opacity: .9;
    margin-bottom: 0px;
    position: relative;
    z-index: 999;
}

.navbar span {
    color: rgba(205, 203, 203, 0.982);
}

.navbar span:hover {
    color: black;
}

.navbar .dropdown-item:hover {
    color: black;
}

.navbar-brand span {
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.nav-item:hover {
    background-color: rgb(10, 47, 66);
}

.btn-nav {
    padding: 4px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

header, footer {
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover!important;
    display: block;
}

.appointment-form {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    padding: 9%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.appointment-form-btn {
    width: 100%;
}

.form-title {
    font-size: 17px;
    margin-bottom: 50px;
}

.featured-image {
    height: 250px;
}

.logo {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(2, 42, 65) 30%, rgb(2, 42, 65) 70%, rgba(0, 0, 0, 0));
}

@media only screen and (min-width: 768px)  {
    .featured-image {
        height: 400px;
    }
}

@media only screen and (max-width: 850px)  {
    header {
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 1350px)  {
    .featured-image {
        height: 450px;
    }
}

.logo-fade {
    height:127px;
    width:30%;
}

.logo-left {

    float: left;
}

.logo-right {
    background: linear-gradient(to left, rgba(0, 0, 0, 0) , rgb(2, 42, 65));
    float: right;
}

.main-section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.bio-pic {
    width: 170px;
    height: 240px;
}

.bio-card {
    width: 174px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

.image-card {
    background-color: white;
    max-width: 404px;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.image-card-h {
    background-color: white;
    max-height: 400px;
    width:auto;
    max-width: 154px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-card-md { 
    background-color: white;
    max-width: 404px;
    width:80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.image-card-lg {
    background-color: white;
    max-width: 404px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.drop-shadow {
    width:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}
    
.drop-shadow-l {
    width:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drop-shadow-r {
    width:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drop-shadow-fixed {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.margin-right {
    margin-right: 15px;
}

.sm-margin-top {
    margin-top: 15px;
}

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.insurance-container {
    margin-right: 5px;
    margin-left: 5px;
}

.insurance-panel {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(15, 59, 84);
    background-color: white;
    margin-bottom: 50px;
    min-height: 350px;
}

.insurance-panel img {
    margin-top: 5px;
}

.insurance-header:hover {
    background-color: rgb(10, 47, 66);
}

.insurance-header h1 {
    color: white;
}

.insurance-header h1:hover {
    color: gray;
}

@media only screen and (max-width: 320px)  {
    .ins-pic {
        display: none;
    }
}

.edu-container {
    border-left-style: dashed;
    border-width: 1px;
}

.edu-img {
    max-width: 400px;
    height: auto;
    margin-bottom:5px;
}

.edu-img-h {
    max-height: 300px;
    max-width: 150px;
    width:auto;
    margin-bottom:5px;
}

.edu-img-hl {
    max-height: 300px;
    max-width: 200px;
    width:auto;
    margin-bottom:5px;
}

.edu-img-sm {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-bottom:5px;
    /*width: auto\9; /* ie8 */
}

.edu-img-md {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-bottom:5px;
    /*width: auto\9; /* ie8 */
}

.edu-img-lg {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: auto;
    margin-bottom:5px;
    /*width: auto\9; /* ie8 */
}
.glyphicon-link {
    margin-right: 5px;
}

.video-list {
    padding-left: 0px;
}

@media only screen and (max-width: 530px)  {
    .sm-pic {
        display: none;
    }
}

.md-img-right {
    float: right;
    margin-left: 15px;
    margin-right:2%;
}

.md-img-left {
    float: left;
    margin-right: 15px;
    margin-left: 2%;
}

.md-img-center {
    margin-left: auto;
    margin-right: auto;
}


.jumbotron {
    background-color: transparent;
}

.page-footer {
    color: rgba(205, 203, 203, 0.982);
}

.page-footer h1 {
    color: white;
}

.page-footer h2 {
    color: white;
}

.footer-copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black;
}

.footer-contact {
    background-color: rgba(0, 0, 0, .4);
    padding-bottom: 30px;
}

.google-map {
    margin-top: 20px;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-popup:focus {
    outline: none;
}

@media only screen and (max-width: 430px)  {
    .footer-contact iframe {
        display: none;
    }
}

.procedure-img {
    height: 320px;
    background-size: 100% 100%;
    position: relative;
    display:block;
    max-width: 430px;
    margin-left:auto;
    margin-right:auto;
    border: 5px solid rgb(235,235,235);
}

.procedure-content {
    position: absolute;
    height:auto;
    max-height: 310px;
    max-width: 430px;

}

.procedure-content .procedure-content-hover {
    background-color: rgba(0, 0, 0, .6);
    height:310px;
    visibility: hidden;
}

/* HACK: Always show for mobile devices */
@media only screen and (max-width: 430px)  {
    .procedure-content .procedure-content-hover {
        visibility: visible;
    }
}


.procedure-content:hover .procedure-content-hover {
    visibility: visible;
}

.img-full {
    max-width: 700px;
    width:100%;
    height: auto;
    margin-bottom:5px;
}

.img-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img-bordered {
    border: 3px solid #ddd;
    border-radius: 5px;
}

.heading-format {
    padding-left: 2px;
    padding-right: 2px;
}


@media only screen and (min-width: 1500px) {
    .heading-format {
        padding-left: 15%;
        padding-right: 15%;
    }

}

@media only screen and (min-width: 1200px) {
    .heading-format {
        padding-left: 7%;
        padding-right: 7%;
    }

}

@media only screen and (min-width: 1000px) {
    .heading-format {
        padding-left: 5px;
        padding-right: 5px;
    }

}

.body-format {
    padding-left: 20%;
    padding-right: 2%;
}

@media only screen and (max-width: 480px) {
    .body-format {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media only screen and (max-width: 1500px) {
    .body-format {
        padding-left: 20%;
        padding-right: 2%;
    }

}

@media only screen and (max-width: 1200px) {
    .body-format {
        padding-left: 10%;
        padding-right: 2%;
    }

}

@media only screen and (max-width: 900px) {
    .body-format {
        padding-left: 3%;
        padding-right: 2%;
    }

}

.body-format-col-r {
    padding-left: 2%;
    padding-right: 40%;
}

@media only screen and (max-width: 480px) {
    .body-format-col-r {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media only screen and (max-width: 1500px) {
    .body-format-col-r {
        padding-left: 2%;
        padding-right: 30%;
    }

}

@media only screen and (max-width: 1200px) {
    .body-format-col-r {
        padding-left: 2%;
        padding-right: 20%;
    }

}

@media only screen and (max-width: 900px) {
    .body-format-col-r {
        padding-left: 2%;
        padding-right: 15%;
    }

}

.procedure-format {
    padding-left: 2px;
    padding-right: 2px;
}


@media only screen and (min-width: 1025px) {
    .procedure-format {
        padding-left: 8%;
        padding-right: 8%;
    }

}

#myers-headshot {
    height: 540px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover!important;
    display: block;
    overflow: hidden;
    
}

#myers-about-headshot {
    height: 450px;
    position: relative; 
}


#jenna-book {
    width: 40%;
    height: auto;
}

#myers-description {
    height: 540px;
}

#staff-photo {
    max-width: 200px;
}