{{ define "main" }}
{{ partial "header" . }}
{{ partial "main-top" . }}
<div class="col-xs-12">
    {{ .Content }}
    <ul class="list-group">
        <li><a class="list-group-item" href="{{ "documents/forms/Patient_Acknowledgement_Form.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>PATIENT ACKNOWLEDGEMENT FORM</a></li>
        <li><a class="list-group-item" href="{{ "documents/forms/Patient_Info_Form.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>PATIENT INFORMATION FORM</a></li>
        <li><a class="list-group-item" href="{{ "documents/forms/2015-Patient-Insurance-Information.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>RECEIPT OF OUR NOTICE OF PRIVACY PRACTICES</a></li>
        <li><a class="list-group-item" href="{{ "documents/forms/Hippa_Form.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>PATIENT INSURANCE INFORMATION</a></li>
    </ul>
</div>
{{ partial "main-bottom" . }}
{{ end }}