{{ define "main" }}
{{ partial "header" . }}
{{ partial "main-top" . }}
<div class="col-xs-12">
    {{ .Content }}
    <ul class="list-group link-list">
        <li><a class="list-group-item" href="{{ "documents/forms/Patient_Acknowledgement_Form.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>PATIENT ACKNOWLEDGEMENT FORM</a></li>
        <li><a class="list-group-item" href="{{ "documents/forms/Patient_Info_Form.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>PATIENT INFORMATION FORM</a></li>
        <!-- <li><a class="list-group-item" href="{{ "documents/forms/PA_Cash_Only.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>PATIENT ACKNOWLEDGEMENT OF CASH-ONLY POLICY</a></li> -->
        <li><a class="list-group-item" href="{{ "documents/forms/privacy_policy.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>RECEIPT OF OUR NOTICE OF PRIVACY PRACTICES</a></li>
        <li><a class="list-group-item" href="{{ "documents/forms/Hippa_Form.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>HIPPA FORMS</a></li>
        <li><a class="list-group-item" href="{{ "documents/forms/Good Faith Estimate Notification.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>GOOD FAITH ESTIMATE NOTIFICATION</a></li>
        <li><a class="list-group-item" href="{{ "documents/forms/Payment_Policy.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>PAYMENT POLICY</a></li>
    </ul>
    <div class="text-center grid-1-top">
        <p class="oswald-bold">Please click below to complete your patient portal.</p>
        <div class="grid-1-top-p grid-1-bottom-p">
            <a class="btn-reg btn-a blue4 drop-shadow" href="{{ .Site.Params.patientPortal | absURL }}">
                Patient Portal
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
{{ partial "main-bottom" . }}
{{ end }}
