{{ define "main" }}
{{ partial "header" . }}
{{ partial "main-top" . }}
<div class = "container">
{{ partial "book" . }}
<hr>
<div class="col-xs-12">
    {{ .Content }}
    <div class="row">
    {{ range $index, $element := .Paginator.Pages }}
    {{ if eq $index 4 }}
    </div>
    <div class="row">
    {{ end }}
        <div class="col-md-3 text-center">
            <a data-fancybox class="video-popup" href="{{ .Params.video | absURL}}">
                <p><img src="{{ .Param "pic" | absURL }}" alt="Testimonial Patient"> </p>
                <h2>{{ .Title }}</h2>
                <p>{{ .Description }}</p>
            </a>
            <br>
        </div>
    {{ end }}
    </div>
</div>
</div>
{{ partial "main-bottom" . }}
{{ end }}