{{ define "main" }}
{{ partial "header" . }}
{{ partial "main-top" . }}
<div class="col-xs-12">
    <div class="row">
        <div class="col-sm-12">
            {{ .Content }}
        </div>
    </div>
    <hr>
    <div class="row">
        {{ with .Site.GetPage "section" "dr-myers" }}
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="{{ .Param "pic" | absURL }}" class="pull-left margin-right">
                    {{ .Description }}
                    <p><a href="{{ .URL | absURL }}">Read More</a></p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    <hr>
    <div class="row">
        {{ with .Site.GetPage "section" "staff-bios"}}
        <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>{{ .Title }}</h1>
                    </div>
                </div>
                {{ partial "staff-bios" . }}
            </div>
        {{ end }}
    </div>
</div>
{{ partial "main-bottom" . }}
{{ end }}