{{ define "main" }}
{{ partial "header" . }}
{{ partial "main-top" . }}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-12">
                {{ .Content }}
            </div>
        </div>
        <div class="row">
            {{ partial "about-myers" . }}
        </div>
        <br><br> 
        <div class="row">
            {{ with .Site.GetPage "section" "staff-bios" }}
            <div class="col-xs-12 ">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>{{ .Title }}</h1> <br>
                    </div>
                </div>
                {{ partial "staff-bios" . }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ partial "main-bottom" . }}
{{ end }}