{{ with .Site.GetPage "section" "dr-myers" }}
<div class="row">
    <div class="col-sm-6 blue2" id="myers-headshot" style= "border-radius: 10px 0 0 10px;">
        <img class="img-center" id="myers-about-headshot" src="{{ .Param "pic" | absURL }}">
    </div>
    <div class="col-sm-6 blue2" style="border-radius: 0 10px 10px 0";>
        <div class="weak-center white-text grid-4-top-p grid-2-bottom-p" id="myers-description">
            <h1 class="open-sans white-text grid-2-bottom">{{ .Title }}</h1>
            <div class="grid-2-bottom oswald">
                {{ .Description }}
            </div>
            <div class="text-center">
                <a class="btn-reg btn-a blue4 white-border" href="{{ .URL | absURL }}">
                    Read More
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}
