<div class="grey grid-2-top-p grid-2-bottom-p procedure-format">
    <div class="grid-1-bottom-p strong-center text-center">
        <h1>Featured Procedures</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
                {{ with .Site.GetPage "page" "procedures" "acl-animation.md" }}
                    {{ partial "featured-procedure" . }}
                {{ end }}
                {{ with .Site.GetPage "page" "procedures" "shoulder-sling.md" }}
                    {{ partial "featured-procedure" . }}
                {{ end }}  
                {{ with .Site.GetPage "section" "prp-injections" }}
                    {{ partial "featured-procedure" . }}
                {{ end }}
                {{ with .Site.GetPage "section" "makoplasty" }}
                    {{ partial "featured-procedure" . }}
                {{ end }}
        </div>
    </div>
</div>    