<div class="col-sm-6 col-md-6 col-lg-6 no-gutters">
    <div>
        <div class="procedure-img drop-shadow" style="margin: 5px 5px; background-image: url('{{ .Param "pic" | absURL }}');">
        <div class="procedure-content col-center text-center">
            <div class="procedure-content-hover">
                <h1 class="open-sans white-text grid-2-top-p">{{ .Title }}</h1>
                <p class="grid-1-bottom white-text weak-center">{{ .Description }}</p>
                <a class="btn-reg btn-a blue4 white-border" href="{{ .URL | absURL }}">
                    Read More
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
                </div>
            </div>
        </div>
    </div>  
</div>
