<!--Footer-->
<footer class="page-footer center">
    <div class="footer-contact container-fluid">
        <div class="row text-center">
            <h1 class="title">Contact Us</h1>
        </div>
        <div class="row">
            <div class="col-sm-7 text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d53021.72767860569!2d-84.426249!3d33.841773!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe5256a3d13aaa6d4!2sMyers+Sports+Medicine!5e0!3m2!1sen!2sus!4v1518497508100" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>            
            </div>
            <div class="col-sm-5">
                {{ with .Site.GetPage "page" "about/contact-us.md" }}
                {{ .Content }}
                {{ end }}
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: {{ .Site.Title }}
        </div>
    </div>
</footer>
