<head>
    <meta charset="utf-8" />
    <meta name ="description" content="Myers Sports Medicine and Orthopaedic Center is an Atlanta-based clinic that specializes 
    in treating injuries of the bones, joints, ligaments, and muscles.">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "images/apple-icon.png" | absURL }}">
    <link rel="icon" type="image/png" href="{{ "images/favicon.png" | absURL }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="public">
    <title>{{.Site.Title}}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1, shrink-to-fit=no' name='viewport' />
    <!-- CSS Files -->
    <link href="{{ "css/bootstrap.min.css" | absURL }}" rel="stylesheet" />
    <link href="{{ "css/bootstrap-theme.min.css" | absURL }}" rel="stylesheet"   />
    <link href="{{ "css/main.min.css" | absURL }}" rel="stylesheet" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"  media="print" onload="this.onload=null;this.removeAttribute('media');">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,800&display=swap" rel="stylesheet"  media="print" onload="this.onload=null;this.removeAttribute('media');">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200&display=swap" rel="stylesheet"  media="print" onload="this.onload=null;this.removeAttribute('media');">

    <!--OpenGraph Metadata-->
    <meta property="og:title" content="Myers Sports Medicine">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Dr. Thomas Myers is an Atlanta-Based Orthopaedic Surgeon specializing in Sports Medicine. Dr. Myers typically treats knee and shoulder injuries">
    <meta property="og:url" content="https://www.myerssportsmedicine.com">
    <meta property="og:image" content="static/images/dr-myers">

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" media="print" onload="this.onload=null;this.removeAttribute('media');"/>

    <!-- Featured Photos -->
    <style>
      {{ print (partial "css.html" .) | safeCSS }}
    </style>

    {{ range .Site.Params.custom_css -}}
      <link rel="stylesheet" href="{{ . | absURL }}" media="print" onload="this.media='all'; this.onload=null;">
    {{- end }}

    <link rel="preload" href="/fonts/glyphicons-halflings-regular.woff2" as="font" type="font/woff2" crossorigin>
</head>
