<div class="col-sm-4 edu-container">
    <div class="row edu-header text-center">
        <h2>About MAKOplasty&reg;</h2>
        <hr>
    </div>
    <ul class="list-group">
        {{ range .Site.Taxonomies.tags.mako }}
        <li>
            <a class="list-group-item" href="{{ .URL | absURL }}">
                <span>{{.Title}}</span>
            </a>
        </li>
        {{ end }}
        <li><a class="list-group-item" href="{{ "documents/makoplasty/makoplasty-patient-education-brochure.pdf" | absURL }}"><span class="glyphicon glyphicon-link"></span>Makoplasty&reg; Patient Education Brochure</a></li>
        <li><a class="list-group-item" href="{{ "documents/makoplasty/makoplasty-testimonial2.jpg" | absURL }}"><span class="glyphicon glyphicon-link"></span>Makoplasty&reg; Testimonial</a></li>
    </ul>
</div>
