<!-- Navbar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid blue2">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ .Site.BaseURL | absURL }}">
                <span>{{.Site.Title}}</span>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">          
            <ul class="nav navbar-nav navbar-right">
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a href="{{ "" | absURL }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ .Pre }} 
                        <span>{{ .Name }}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu blue4">
                        {{ range .Children }}
                        <li>
                            <a href="{{ .URL | absURL }}" class="">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL | absURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                    <span>{{ .Name }}</span>
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
