<div class="col-sm-4 edu-container">
    <div class="row edu-header text-center">
        <h2>Educational Videos</h2>
        <hr>
    </div>
    <div class="video-list">
        <a href="https://www.orthoillustrated.com/animation/30-proximal-humerus-fracture-repair-with-arthrex-sutureplate" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/sutureplate.jpg" | absURL }}"></a>
        <a href="https://www.orthoillustrated.com/animation/26-knotless-shoulder-labral-repair-with-arthrex-pushlock" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/pushlock.jpg" | absURL }}"></a>
        <a href="https://www.orthoillustrated.com/animation/27-rotator-cuff-repair-with-speedbridge-technique" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/speedbridge.jpg" | absURL }}"></a>
        <a href="https://www.orthoillustrated.com/animation/80-subscapularis-speedfix-technique" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/speedfix.jpg" | absURL }}"></a>
        <a href="https://www.orthoillustrated.com/animation/31-rotator-cuff-repair-with-arthrex-suturebridge" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/suturebridge.jpg" | absURL }}"></a>
        <a href="https://www.orthoillustrated.com/animation/24-latarjet-for-instability" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/latarjet.jpg" | absURL }}"></a>
        <a href="https://www.orthoillustrated.com/animation/22-total-shoulder-replacement-with-arthrex-univers-ii" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/univers2.jpg" | absURL }}"></a>
    </div>
</div>
