<div class="col-sm-4 edu-container">
    <div class="row edu-header text-center">
        <h2>Educational Videos</h2>
        <hr>
    </div>
    <div class="video-list">
        <a href="https://amz.orthoillustrated.com" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/amz.jpg" | absURL }}"></a>
        <a href="https://microfracture.orthoillustrated.com" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/microfracture.jpg" | absURL }}"></a>
    </div>
</div>
