<div class="col-sm-4 edu-container">
    <div class="row edu-header text-center">
        <h3>Educational Videos</h3>
        <hr>
    </div>
    <div class="video-list text-center">
        {{ partial "external-link-button" (dict "context" . "siteUrl" "https://www.orthoillustrated.com/animation/41-anterolateral-ligament-reconstruction-" "siteName" "Anterolateral Ligament Reconstruction")}}
        {{ partial "external-link-button" (dict "context" . "siteUrl" "https://www.orthoillustrated.com/animation/51-biouni-oats-surgical-technique" "siteName" "BioUni® OATS® Surgical Technique")}}
        {{ partial "external-link-button" (dict "context" . "siteUrl" "https://www.orthoillustrated.com/animation/17-inlay-pcl-reconstruction-with-arthrex-pcl-tightrope" "siteName" "Inlay PCL Reconstruction with Arthrex® PCL TightRope®")}}
        {{ partial "external-link-button" (dict "context" . "siteUrl" "https://www.orthoillustrated.com/animation/18-meniscal-repair" "siteName" "Meniscal Repair")}}
        {{ partial "external-link-button" (dict "context" . "siteUrl" "https://www.orthoillustrated.com/animation/19-microfracture-with-arthrex-powerpick" "siteName" "Microfracture with Arthrex® PowerPick™")}}
        {{ partial "external-link-button" (dict "context" . "siteUrl" "https://www.orthoillustrated.com/animation/50-patella-fracture-repair" "siteName" "Patella Fracture Repair")}}
        {{ partial "external-link-button" (dict "context" . "siteUrl" "https://www.orthoillustrated.com/animation/21-tibial-tubercle-osteotomy-with-arthrex-t3-amz-system" "siteName" "Tibial Tubercle Osteotomy with Arthrex® T3® AMZ System")}}
    </div>
</div>
