<div class="col-sm-4 edu-container">
    <div class="row edu-header text-center">
        <h2>Educational Videos</h2>
        <hr>
    </div>
    <div class="video-list">
        <a href="https://sutureplate.orthoillustrated.com" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/sutureplate.jpg" | absURL }}"></a>
        <a href="https://pushlock.orthoillustrated.com" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/pushlock.jpg" | absURL }}"></a>
        <a href="https://speedbridge.orthoillustrated.com" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/speedbridge.jpg" | absURL }}"></a>
        <a href="https://speedfix.orthoillustrated.com" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/speedfix.jpg" | absURL }}"></a>
        <a href="https://suturebridge.orthoillustrated.com" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/suturebridge.jpg" | absURL }}"></a>
        <a href="https://latarjet.orthoillustrated.com" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/latarjet.jpg" | absURL }}"></a>
        <a href="https://univers2.orthoillustrated.com" rel="nofollow" target="_blank"><img class="edu-img" src="{{ "images/orthoillustrated/univers2.jpg" | absURL }}"></a>
    </div>
</div>
