<div class="row">
<!-- {{ with .Site.GetPage "/staff-bios/amy-prall" }}
    <div class="col-sm-3 text-center">
        {{ partial "single-bio" . }}
    </div>
{{ end }} -->
{{ with .Site.GetPage "/staff-bios/michael-mcgrane" }}
    <div class="col-sm-3 text-center ">
        {{ partial "single-bio" . }}
    </div>
{{ end }}
{{ with .Site.GetPage "/staff-bios/caroline-rodgers" }}
    <div class="col-sm-3 text-center ">
        {{ partial "single-bio" . }}
    </div>
{{ end }}    
{{ with .Site.GetPage "/staff-bios/stacy-lee" }}
    <div class="col-sm-3 text-center ">
        {{ partial "single-bio" . }}
    </div>    
{{ end }}   
{{ with .Site.GetPage "/staff-bios/molly-myers" }}
    <div class="col-sm-3 text-center ">
        {{ partial "single-bio" . }}
    </div>
{{ end }}
{{ with .Site.GetPage "/staff-bios/kate-stanchev" }}
    <div class="col-sm-3 text-center ">
        {{ partial "single-bio" . }}
    </div>
{{ end }}
</div> 
<div class="row margin-top">
<!-- {{ with .Site.GetPage "/staff-bios/ben-maggard" }}
    <div class="col-sm-3 text-center ">
        {{ partial "single-bio" . }}
    </div>
{{ end }} -->
<!-- {{ with .Site.GetPage "/staff-bios/ross-brakeville" }}
    <div class="col-sm-3 text-center">
        {{ partial "single-bio" . }}
    </div>
{{ end }} -->
<!-- {{ with .Site.GetPage "/staff-bios/ryan-ingraffia" }}
    <div class="col-sm-3 text-center ">
        {{ partial "single-bio" . }}
    </div>
{{ end }}    -->
</div>
