<div class="row">
{{ with .Site.GetPage "page" "staff-bios" "kristiann-settles.md" }}
    <div class="col-xs-4 text-center">
        {{ partial "single-bio" . }}
    </div>
{{ end }}
{{ with .Site.GetPage "page" "staff-bios" "michael-mcgrane.md" }}
    <div class="col-xs-4 text-center">
        {{ partial "single-bio" . }}
    </div>
{{ end }}
{{ with .Site.GetPage "page" "staff-bios" "molly-myers.md" }}
    <div class="col-xs-4 text-center">
        {{ partial "single-bio" . }}
    </div>
{{ end }}
</div>
<div class="row margin-top">
{{ with .Site.GetPage "page" "staff-bios" "regilyn-fish.md" }}
    <div class="col-xs-6 text-center">
        {{ partial "single-bio" . }}
    </div>
{{ end }}
{{ with .Site.GetPage "page" "staff-bios" "tiffany-jackson.md" }}
    <div class="col-xs-6 text-center">
        {{ partial "single-bio" . }}
    </div>
{{ end }}
</div>
