{{ define "main" }}
{{ partial "header" . }}
{{ partial "main-top-base" . }}
<div class="text-center">
    {{ .Content }}
</div>
<div class="grid-2-top grid-1-bottom">
    {{ partial "about-myers" . }}
</div>
{{ partial "main-bottom-base" . }}
{{ partial "featured-procedures" . }}
<div class="container" aria-role="main">
    <div class="grid-2-top grid-2-bottom">
        <div class="grid-1-bottom strong-center text-center">
            <h1>Testimonials</h1>
        </div>
        {{ partial "book" . }}

        {{ with .Site.GetPage "section" "testimonials" }}
        <div class="text-center">
            <a class="btn-reg btn-a blue4 drop-shadow" href="{{ .URL | absURL }}">
                Read More Testimonials
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </a>
        </div>
        {{ end }}
    </div>
</div>
{{ partial "appointment" . }}
{{ end }}
