{{ define "main" }}
{{ partial "header" . }}
    <main class="container" aria-role="main">
        <section class="main-section rounded black" style="background-image: url('{{ "images/backgrounds/spiration-dark.png" | absURL }}');">
            <div class="row main-row">
                <div class="page-header col-xs-12 text-center">
                    <h1>{{ .Title }}</h1>
                </div>
                <div class="col-xs-12">
                    {{ .Content }}
                </div>
            </div>
        </section>
    </main>
{{ end }}
